<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 全局setting配置，根据需要添加 -->

    <!-- 配置别名 -->
    <typeAliases>
        <!-- 批量扫描别名 -->
    </typeAliases>

    <typeHandlers>
<!--        <package name="com.hh.userservice.handle"/>-->
        <typeHandler jdbcType="VARCHAR" javaType="java.lang.String" handler="com.hh.userservice.handle.ExampleTypeHandle"></typeHandler>
    </typeHandlers>

    <!-- 由于使用spring和mybatis的整合包进行dataSource的设置整合，这里不需要配置了,可用于junit单元测试 -->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://raoqinhao.mysql.rds.aliyuncs.com:3306/user"/>
                <property name="username" value="hacker"/>
                <property name="password" value="Rqh17879303721"/>
            </dataSource>
        </environment>
    </environments>


    <!-- 配置mappper
        如果使用spring和mybatis的整合包进行mapper扫描，这里不需要配置了。可用于junit单元测试
     -->

    <mappers>
        <mapper resource="\mappers\UserMapper.xml"/>
    </mappers>


</configuration>